html {
    background-color: #F1F1F1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    line-height: 1.7em;
}
body {

}
.clear-fix {
    clear: both;
}
.container {
    width: 1200px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
    
}
.header {
    padding: 1em;
    /*border-bottom: 1px solid gray;*/
}
img {
    width: 473px;
    height: 206px;
}
.row {
    margin-left: 3.5em;
    margin-right: 3.5em;
    width: 100%;
}
.col {
    float: left;
    width: 45%;    
    /* border: 1px solid red; */
}
.pic {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*border: 1px solid blue;*/
}
.text {    
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid gray;*/
}
h4 {    
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.seemore {
    /*border: 1px solid green;*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    
}
.seemore a {
    text-decoration: none;
    background-color: white;
    padding: 1em 4em;
    color: gray;
    border: 1px solid gray;
    
}