* {
    margin: 0;
    padding: 0;
}
.clear-fix {
    clear: both;
}
html {
    color: black;
    background-color: #F3F6FA;
}
main {
    width: 960px;
    height: 900px;
    background-color:blue;
    margin: 1em auto;
    line-height: 2em;
}
#row1 {
    height: 130px;
    background-image: url(../images/2.jpg) ;
    background-repeat: no-repeat;
    background-position:  right center;   
}
#row1 h4 {
    margin-top:2em; 
    margin-left: 1em;
}
.menu {
    width: 90%;
    background-color: gray;
    border: 1px solid yellow;
    margin: 1em auto;    
}
.leftmenu {
    width: 30%;
    height: 650px;
    background-color: aqua;
    float: left;
    
}
.leftmenu ul  {
    
    padding-left: 1.3em;
    
}
.rightmenu {
    width: 69%;
    height: 650px;
    background-color: blueviolet;
    float: right;    
}
img {
    width: 65%;
    height: 350px;
    
}
#rightmenu  ul *{
    margin-left: 2em;
}
h3 {
    text-align: center;
    padding-top: 1em;
}
.image {
    padding: 3em 3em;
}
